<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lova.idea"
    >

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="LoginApps"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"  android:label="Login Apps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".index" android:label="Bienvenue !!!">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".task"          android:label="Taches Info " />
        <activity android:name=".listeTache"    android:label="Liste des taches "/>
        <activity android:name=".projet"        android:label="Projet "/>
        <activity android:name=".listContact"   android:label="Liste des contacts "/>
        <activity android:name=".date_project"  android:label="Date Phare"/>
        <activity android:name=".listProject"   android:label="Liste des Projets" />

    </application>

</manifest>